{% extends 'main/base.html' %}

{% block title %} Profile {% endblock %}

{% load static %}
{% block content %}

<style>
body{
    font-family: 'Merriweather', serif;
    background-color: rgba(210, 201, 182, 0.643);
}
.whats{
    color: rgb(255, 255, 255);
    background-color: rgba(170, 161, 138, 0.899);

}

h1{
  color:rgba(153, 144, 120, 0.984) ;
}
h3{
    font-size: 30px;

}
.transitions3{
    background-color: rgba(255, 255, 255, 0.882);
    padding:5%;
    height: 700px;
    width: 30%; 

}
.img_pro{
    flex-direction: row;
    align-items: center;
    display: flex;
    background-size: cover;
    width: 10px;
    height: 400px;
}
.name{
    font-size: 60px;
    z-index: 4;
    margin-top: -3;
    color:rgba(153, 144, 120, 0.984) ;
    margin-left: 10%;

 
}
.name1{
    font-size: 30px;;
    color:rgba(153, 144, 120, 0.984) ;
}
.data_pro{
    margin-left: 20%;
    padding-right: 0%;
    margin-top: 15%;
}
.information_user{
    background-color: rgba(212, 203, 175, 0.541);
    padding: 6% 30% 4% 14% ;
    margin-top: -4.8%;
    width: 108%;
    
    
}
.user_n{
    margin-left: 40%;
}


</style>
{% if request.user.is_authenticated and request.user.id == user.id %}
    <div class="">
        <div class="row">
            
            <div class="col-4 transitions" >
        
                <div class="d-flex flex-column gap-1">
                    <img class="rounded-circle w-100" src="{{ user.profile.personal_image.url }}"  width="200px" height="250px" />
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        
                        <p class="mt-2 username d-flex flex-column justify-content-center align-items-center"> @{{ user.username }}</p>
                        {% if user.validation.validated == True %}
                        <h6 class="d-flex justify-content-center align-items-center text-success"><span class="material-symbols-outlined">verified</span></h6>
                        {% endif %}
                    </div>
                </div>
            <div class=" col transitions2">
                <ul class="gap-1 mt-5 mx-1 transitions2">
                    
                    <li><a href="{% url 'accounts:user_profile' request.user.id %}" class="btn">My Profile</a></li>
                    <li><a href="{% url 'accounts:update_user_view'%}"class="btn  mt-2">Update personal profile </a></li>
                    <li><a href="{% url 'accounts:my_favorite_view'%}"class="btn  mt-2"> Favourites</a></li>
                    <li><a href="{% url 'accounts:my_comments'%}"class="btn  mt-2 "> My comments</a></li>
                    <li><a href="{% url 'accounts:advertisement_user'%}"class="btn  mt-2"> Advertisement</a></li>
                    <li><a href="{% url 'advertisements:add_advertisement_view'%}" class="btn  mt-2"> Add Advertisement</a></li>
                    <li><a href="{% url 'accounts:my_requset' user.id %}"class="btn  mt-2 "> My requestes</a></li>
                    <li><a href="{% url 'accounts:receive_rent_request' user.id %}"class="btn  mt-2 "> My Roommate</a></li>
                    <li><a href="{% url 'accounts:validation_user_view'  %}"class="btn  mt-2 "> Validation</a></li>
                    <li><a href="{% url 'accounts:validate_detail_view' user.id %}" class="btn  mt-2 ">Validation status</a></li>
                </ul>
            </div>
               
            </div>
           
        <div class="col-md-8">
            <div class=" mx-5 mt-5 user_data flex-column justify-content-center align-items-center ">
                
                <h1 class=" d-flex flex-column justify-content-center align-items-center">Welcome  {{user.first_name}} to roommate</h1>
                <div class="data mx-5">
                    <h3>Name: {{user.first_name}} {{user.last_name}}</h3>
                    <h6>Gender: {{user.profile.gender}} </h6>
                    <h6>Age: {{user.profile.age}}</h6>
                    <h6>Language: {{user.profile.language}}</h6>
                    <h6>Nationality: {{user.profile.nationality}}</h6>
                    <h4>about:</h4>
                    <h6>{{user.profile.about}}</h6>
                    <div class="">
                </div>
                </div>
               
                <div class=" mx-5 mt-4" >
                    

                </div>

            </div>
          </div>
        
        </div>
 </div>

 {% endif %}



    {% if not request.user.id == user.id %}
   
     <section class=" ">
    
        <div class="row ">
         
                    <div class=" transitions3" >
        
                        <div class="d-flex flex-column gap-1">
                            <div class="  ">
                            <img class=" w-100 img_pro " src="{{ user.profile.personal_image.url }}"  width="400px" height="450px" />
                     
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                
                                <p class="mt-2 name1 d-flex flex-column justify-content-center align-items-center">{{ user.first_name }} {{ user.last_name }}</p>
                                {% if user.validation.validated == True %}
                                <h6 class="d-flex justify-content-center align-items-center text-success"><span class="material-symbols-outlined">verified</span></h6>
                                {% endif %}
                              
                            </div>
                            <hr>
                            <div  class=" flex-column user_n justify-content-center align-items-center">
                                <h5 style="color: rgba(153, 144, 120, 0.984);">@{{ user.username}}</h5>

                            </div>
                            </div>
                        </div>
                    </div>

  
            <div class="col-8">
                <div class="data_pro">
                <div class=" d-flex justify-content-between align-items-center">
                    <h1 class="name">User Profile </h1>
                </div>
                <div class="information_user">
                <br>
                
                <h6>Gender: {{user.profile.gender}} </h6>
                <h6>Age: {{user.profile.age}}</h6>
                <h6>Language: {{user.profile.language}}</h6>
                <h6>Nationality: {{user.profile.nationality}}</h6>
                <br>
                <h5>about: </h5>
                <p style="color: black;"> {{user.profile.about}}/<p>
                </div>   
                
                 </div>
                </div>
            </div>
       
    
    </section>
    {% endif %}

    </div>
  


{% endblock %}