{% extends 'main/base.html' %}

{% block title %}Success page{% endblock %}


{% block content %}
<style>
.none{
    margin-bottom: 300px; 
}
</style>

<div class="container1 m-5 p-5 border border-5 p-3 mb-2 bg-success-subtle text-emphasis-success">
    <div class="row mt-5">
        <div class="col m-5 text-center">
            <h1>Your Request was send successfully to the Admin!<span class="material-symbols-outlined">check_circle</span></h1>
        </div>

    </div>

</div>
<div class="none">

</div>
{% endblock %}