{% extends 'main/base.html' %}

{% block title %} Update personal profile {% endblock %}


{% block content %}
<style>

p{
    font-size: small;
    color: rgb(216, 104, 104);
}
</style>
<section class="container mt-5">
    <h1>Update your profile</h1>

    {% if msg %}
        <div class="alert alert-danger" role="alert">
        {{ msg }}
        </div>
    {% endif %}
    <div class="row">
    
        <div class="col-6">

            <form class="d-flex flex-column gap-1" action="{% url 'accounts:update_user_view' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <label> </label>
                <input class="form-control"  type="text" name="first_name"  minlength="3" placeholder="First Name" value="{{ request.user.first_name }}"/>
                <input class="form-control" type="text" name="last_name"  minlength="3" placeholder="Last Name"  value="{{ request.user.last_name }}"/>
                <input class="form-control" type="email" name="email" required minlength="3" placeholder="Email" value="{{ request.user.email }}"/>
                <label>Avatar</label>
                <div class="d-flex align-items-center gap-2 ">
                    <input class="form-control" type="file" name="personal_image"  placeholder="choose avatar"/>
                </div>
                <label>Phone number</label>

                <input class="form-control" type="text" name="phone_number"  placeholder="phone number" value="{{ request.user.profile.phone_number }}"/>
                <p  class="fw-light text-nowrap">*Please enter the number with the country code, such as: 966555555555</p>

                <label>Age</label>
                <input class="form-control" type="number" name="age"  placeholder="age" value="{{ request.user.profile.age }}"/>
         
             
                <label>gendar:</label>
                {% for key, value in genders.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="{{key}}" value="{{value}}" {% if user.profile.gender == key %} checked {% endif %}>
                    <label class="form-check-label" for="{{key}}">{{value}}</label>
                </div>
                {% endfor %}
            
                <label>language:</label>
                {% for key, value in languages.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="language" id="{{key}}" value="{{value}}" {% if user.profile.language == key %} checked {% endif %}>
                    <label class="form-check-label" for="{{key}}">{{value}}</label>
                </div>
                {% endfor %}

                <label>nationality:</label>
                 {% for key, value in nationalities.choices  %}
                
                 <div class="form-check">
                    <input class="form-check-input" type="radio" name="nationality" id="{{key}}" value="{{value}}" {% if user.profile.nationality == key %} checked {% endif %}>
                    <label class="form-check-label" for="{{key}}">{{value}}</label>
                </div>
                {% endfor %}
         
                <label>About:</label>
                <textarea class="form-control" name="about" placeholder="About you..">{{ request.user.profile.about }}</textarea>
             

                <input class="btn btn-primary" type="submit" value="Update profile" />
            </form>

        </div>

    </div>

</section>

{% endblock %}