{% extends 'main/base.html' %}

{% block title %} Validation status page {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Your validation status:</h1>
            <hr>

            <h1>Hello {{user.first_name}}, we are excited to make your profile approved!</h1>
            {% if validation.validated == False %}
            <div class="p-3 mb-2 bg-secondary-subtle text-emphasis-secondary rounded-3">
                <div class="d-flex justify-content-space-around align-items-start">
                    <h4 class="p-2">Validation status:</h4>
                    <h1 class="badge text-bg-secondary d-flex justify-content-center align-items-center p-2" style="width: 110px;">Disapprove<span class="material-symbols-outlined">error</span></h1>
                </div>
                <h5>Your validation request under proccess. </h5>
            </div>
            {% else %}
            <div class="p-3 mb-2 bg-success-subtle text-emphasis-success rounded-3">
                <div class="d-flex justify-content-space-around align-items-start">
                    <h4 class="p-2">Validation status:</h4>
                    <h1 class="badge text-bg-success d-flex justify-content-center align-items-center" style="width: 90px;">Approve <span class="material-symbols-outlined">check_circle</span></h1>
                </div>
                <h5>Your validation request has been approved. You can now access the features of the website.</h5>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}