.transitions{
    background-color: rgba(255, 255, 255, 0.882);
    padding:5%;
    height: 00%;
    width: 25%; 
}

.transitions2 a{
    background-color: rgba(170, 161, 138, 0.899);
    width: 90%;
    background-color: rgba(170, 161, 138, 0.899);
    border-radius: 0px;
    
}
.transitions2{
    list-style-type: none;
}

.transitions2 a:hover {
    background-color: rgba(213, 203, 177, 0.899);
}
.btn:hover{
    color: rgb(8, 5, 0);
    background-color: rgba(170, 161, 138, 0.899);

    
}
.btn{
    color: rgb(255, 255, 255);
    background-color: rgba(170, 161, 138, 0.899);
    border: rgba(170, 161, 138, 0.899);

}
.user_data{
    background-color: rgba(255, 255, 255, 0.606);
    padding: 2%;
    width: 90%;
    border-radius: 15px;
    align-items: center;
}
.data{
    background-color: rgba(210, 201, 182, 0.543);
    padding: 2%;
    border-radius: 15px;
    align-items: center;
    
    
}
.username{
    background-color: rgba(170, 161, 138, 0.899);
    color: rgb(255, 255, 255);
    padding: 2%;
    width: 50%;
    height: 20px;
 
}
.profile{
    background-color: rgba(210, 201, 182, 0.643);
    border-radius: 20px;
}
.note{
    background-color: rgba(210, 201, 182, 0.643);
    border-radius: 30px;
}
.profile img{
border-radius: 20px;
}

#map {
    width: 100%;
    height: 400px;
}



.footer{
background-color:lightslategray;
margin-top: 50px;
background-color:rgba(170, 161, 138, 0.899);
margin-top: 100px;
padding: 20px 0;
}

.container-footer{
max-width: 1170px;
margin: auto;
}
ul{
list-style: none;
padding-left: 0;
}

.row-footer{
display: flex;
flex-wrap: wrap;
}

.footer-col{
width: 25%;
padding: 0 15px;

}

.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom:35px ;
font-weight: 500;
position: relative;
}

.footer-col h4::before{
content: '';
position: absolute;
left: 0;
bottom:-10px;
background-color:lightgoldenrodyellow;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child)
{
margin-bottom: 10px;
}

.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration:none ;
font-weight: 300;
color:antiquewhite;
display: block;
transition: all 0.3s ease;
}

.footer-col ul li a:hover{
color: #ffffff;
padding-left:8px;
}

.footer-col .social-links a{
display: inline-block;
height:40px ;
width:40px ;
background-color: rgba(33, 30, 30, 0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
/*responsive*/
@media(max-width:767px){
.footer-col{
    width: 50%;
    margin-bottom: 30px;
}

}

@media(max-width:574px){
.footer-col{
    width: 100%;
    margin-bottom: 30px;
}

}

.butn{
    color: rgba(170, 161, 138, 0.899);
}

.butn:hover{
    color: rgb(3, 21, 50);
    background-color: rgba(170, 161, 138, 0.899);

    
}


.wrapper {
    padding: 24vh 10vw;
    padding-bottom: 10vh;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;  
}

.homepage-content {
    height: 100vh;
    display: grid;
    position: relative;

}


.homepage-content::before{
    background-image:url('/static/images/apart.jpg');
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.6;

}

.sub-content{
    color:black;
    padding-bottom: 10%;
    padding-left: 100px;
    text-align:center;
    isolation: isolate;
    font-family: 'Merriweather', serif;
}

.sub-text h1,h3{
    font-family: 'Merriweather', serif;
    font-size: 70px;
}
.sub-content img{
    border-radius: 50px;
}

.text-img h3{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    text-align: center;

}

.logo img{
    border-radius:200px;
}

.adv-title{
    font-family: 'Merriweather', serif;
}

.container-color{
    background-color: rgba(210, 201, 182, 0.5);
    border-radius: 20px;
}


.container-home{
    background-image:url('/static/images/apartment2.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home h1{
    font-family: 'Merriweather', serif;
    font-size: 140px;
    padding-left:120px;
}

.container-home form{
    padding: 10px;
}

.container-all{
    background-image:url('/static/images/baige.jpg');
    height: 90vh;
    margin-right: 50px;
    margin-left: 0%;
    border-radius: 60px;

}

  .short-para{
    padding-left:400px;
  }

  .short-para h4{
    font-family: 'Merriweather', serif;
    font-size: 40px;
  }

  .features{
    font-family: 'Merriweather', serif;
    font-size: 20px;
  }


 /* Resize all icons */
.icon {
    font-size: 50px; /* Adjust size as needed */
    background-color: antiquewhite;
    color:rgba(33, 30, 30, 0.2);
    border-radius: 30px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    display: inline-flex;
    text-decoration: none;
}

.icon:hover{
    color:antiquewhite;
    background-color:black;


}

/* Resize a specific icon */
.features:nth-child() .icon {
    font-size: 30px;

}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid{
    background-color:rgba(170, 161, 138, 0.899);
    margin-top: 0;
}

.img1{
    background-image:url('/static/images/baige.jpg');
    height: 20vh;
    border-radius: 100px;
    width: 170px;
}

.img2{
    background-image:url('/static/images/img2.jpg');
    height: 20vh;
    border-radius: 100px;
    width: 170px;
}

.img3{
    background-image:url('/static/images/orange.jpg');
    height: 20vh;
    border-radius: 100px;
    width: 170px;
}

.img4{
    background-image:url('/static/images/img2.jpg');
    height: 20vh;
    border-radius: 100px;
    width: 170px;
}


.img5{
    background-image:url('/static/images/baige.jpg');
    height: 20vh;
    border-radius: 100px;
    width: 170px;
}


.img1,.img2,.img3,.img4,.img5 h4{
    font-family: 'Merriweather', serif;

}

.adv-img:hover{
    opacity: 0.5;
    font-family: 'Merriweather', serif;
    font-size: 40px;

}

.adv-arrow:hover{
    font-size: 30px;
}

.contact{
    font-family: 'Merriweather', serif;
    font-size: 80px;
}

.about-us{
    font-family: 'Merriweather', serif;
    font-size: 80px;
}

.container6 {
    background-image:url('/static/images/baige.jpg');
    position: relative;
    width: 50%;
  }
  
  .image6 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container6:hover .overlay {
    width: 100%;
    left: 0;
  }
  
  .text6 {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .explore-btn{
    font-family: 'Merriweather', serif;
    background-color: antiquewhite;
    color:rgba(33, 30, 30, 0.2);
    border-radius: 30px;
    height: 80px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    display: inline-flex;
    text-decoration: none;

  }

  .explore-btn:hover{
    color:antiquewhite;
    background-color:black;


}