.transitions{
    background-color: rgba(255, 255, 255, 0.882);
    padding:5%;
    height: 00%;
    width: 25%; 
}

.transitions2 a{
    background-color: rgb(124, 146, 172);
    width: 90%;
    border: rgb(124, 146, 172) ;
    border-radius: 0px;
    
}
.transitions2{
    list-style-type: none;
}

.transitions2 a:hover {
    color: rgb(129, 136, 157);
}
.btn:hover{
    color: rgb(3, 21, 50);
    background-color: rgb(144, 157, 184);

    
}
.btn{
    color: rgb(255, 255, 255);
}
.user_data{
    background-color: rgba(255, 255, 255, 0.606);
    padding: 2%;
    width: 90%;
    border-radius: 15px;
    align-items: center;
}
.data{
    background-color: rgba(214, 214, 214, 0.619);
    padding: 2%;
    border-radius: 15px;
    align-items: center;
    
    
}
.username{
    background-color:  rgb(124, 146, 172);
    color: rgb(255, 255, 255);
    padding: 2%;
    width: 50%;
  
    height: 20px;
 
}
.profile{
    background-color:rgba(214, 214, 214, 0.9) ;
    border-radius: 20px;
}

.profile img{
border-radius: 20px;
}

#map {
    width: 100%;
    height: 400px;
}



.footer{
background-color:lightslategray;
margin-top: 100px;
padding: 20px 0;
}

.container-footer{
max-width: 1170px;
margin: auto;
}
ul{
list-style: none;
padding-left: 0;
}

.row-footer{
display: flex;
flex-wrap: wrap;
}

.footer-col{
width: 25%;
padding: 0 15px;

}

.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom:35px ;
font-weight: 500;
position: relative;
}

.footer-col h4::before{
content: '';
position: absolute;
left: 0;
bottom:-10px;
background-color:aquamarine;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child)
{
margin-bottom: 10px;
}

.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration:none ;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}

.footer-col ul li a:hover{
color: #ffffff;
padding-left:8px;
}

.footer-col .social-links a{
display: inline-block;
height:40px ;
width:40px ;
background-color: rgba(33, 30, 30, 0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
/*responsive*/
@media(max-width:767px){
.footer-col{
    width: 50%;
    margin-bottom: 30px;
}

}

@media(max-width:574px){
.footer-col{
    width: 100%;
    margin-bottom: 30px;
}

}

.image-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:15px
}
.gallery img{
    width: 100%;

}


