{% extends 'main/base.html' %}
{% block title %}Add image{% endblock%}
{% block content%}
<div class="container">
    <div class="row my-2">
        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
    {% endif %}
    </div>
    <div class="row m-5 ">
        <h3>Add some pictures about "{{advertisement.type_of_residential}}"</h3>
        <div class="col">
            <div class="d-flex flex-column card border-secondary mb-3 p-3 justify-content-center align-items-center">
                <form class="d-flex flex-column gap-1"  style="width: 40vw;" action="{% url 'advertisements:add_images_to_advertisements' advertisement.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h5>Add Image:</h5>
                    <input type="file" name="image"  class="form-control" accept="image/*" required/>
                    <button type="submit" class="btn-btn-primary">Upload image</button>
                </form>
                
                <a class="btn btn-secondary my-2" href="{% url 'advertisements:advertisement_details_view' advertisement.id %}">Skip</a>

            </div>

        </div>

    </div>

</div>
{% endblock %}