{% extends 'main/base.html' %}
{% block title %}Add Advertisement{% endblock%}
{% block content%}
<div class="container">
  <div class="row my-2">
    {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{ msg }}
    </div>
{% endif %}
</div>
  <h1 class="text-center">Add new advertisement</h1>
<div class="row my-3">
  <div class="col">
<form action="{% url 'advertisements:add_advertisement_view'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5>Title</h5>
    <input class="form-control" type="text" name="title" placeholder="Title of Advertisement" required minlength="6"/>
    <h5>City</h5>
    {% for key, value in cities.choices %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="city" id="{{key}}" value="{{value}}" required>
        <h6 class="form-check-label" for="{{key}}">{{value}}</h6>
    </div>
    {% endfor %}
    <h5>Neighborhood</h5>
    <input class="form-control" type="text" name="neighborhood" required minlength="4"/>
    <h5>Type of duration</h5>
    {% for key, value in types_of_duration.choices %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="type_of_duration" id="{{key}}" value="{{value}}" required>
        <h6 class="form-check-label" for="{{key}}">{{value}}</h6>
    </div>
    {% endfor %}
    <h5>Duration of residence</h5>
    <input class="form-control" type="number" name="duration_residence" placeholder="Duration of residence" required/>
    <h5>Type of residential</h5>
    {% for key, value in types_of_residential.choices %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="type_of_residential" id="{{key}}" value="{{value}}" required>
        <h6 class="form-check-label" for="{{key}}">{{value}}</h6>
    </div>
    {% endfor %}

    <input class="form-control" type="hidden" name="longitude" id="lng" placeholder="longitude"   />
    <input class="form-control" type="hidden" name="latitiiude" id="lat" placeholder="latitiiude"  />

    <h5>Area in metres</h5>
    <input class="form-control" type="number" name="space" placeholder="" required/>
    <h5>Price</h5>
    <input class="form-control" type="number" name="price" placeholder="2000SAR" required/>
    <h5>Gender</h5>
    {% for key, value in types_of_gender.choices %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="{{key}}" value="{{value}}" required>
        <h6 class="form-check-label" for="{{key}}">{{value}}</h6>
    </div>
    {% endfor %}
  </div>

  <div class="col">
    <h5>Number of people</h5>
    <input class="form-control" type="number" name="number_of_people" placeholder="" required/>
    <h4>Favres age range</h4>
    <h5>Minimum age</h5>
    <input class="form-control" type="number" name="min_age" placeholder="" required/>
    <h5>Maximum age</h5>
    <input class="form-control" type="number" name="max_age" placeholder="" required/>
    <h5>Note</h5>
    <textarea class="form-control" name="note" required minlength="10"></textarea>
    <h4>Features:</h4>
    <label>Has kitchen:</label>
    <input type="checkbox" name="has_kitchen" id="has_kitchen" value="True">
    <br>
    <label>Dishwasher:</label>
    <input type="checkbox" name="dishwasher"  value="True">
    <br>
    <label>Washing machine:</label>
    <input type="checkbox" name="washing_machine" value="True">
    <br>
    <label>Animal allowed:</label>
    <input type="checkbox" name="animal_allowed" id="animal_allowed" value="True">
    <br>
    <label>Smoke allowed:</label>
    <input type="checkbox" name="smoke_allowed" id="smoke_allowed" value="True">
    <br>
    <h5>Rooms number</h5>
    <input class="form-control" type="number" name="rooms_number" placeholder="" required/>
    <h5>Bathroom</h5>
    <input class="form-control" type="number" name="bathroom" placeholder="" required/>
    <h5>Image</h5>
    <input type="file" name="image"  class="form-control" accept="image/*" required/>
  </div>
   
</div>

<div class="row">
  <h4>Specify the location</h4>
  <div id="map"></div> 
</div>
<div class="row">
<input class="btn btn-success my-3" type="submit" value="Add Advertisement" />
</div>
</form>
</div>


<script>
    let map;
    let currentMarker = null;

async function initMap() {
  const { Map } = await google.maps.importLibrary("maps");
  map = new Map(document.getElementById("map"), {
    center: { lat: 24.774265, lng: 46.738586 },
    zoom: 8,
  });


  map.addListener('click', (event)=> {
    console.log(event.latLng.lat(), event.latLng.lng());
    document.getElementById("lat").value = event.latLng.lat();
    document.getElementById("lng").value = event.latLng.lng();
    addMarker(event.latLng, map);
  });


  function addMarker(location, map){
    if(currentMarker) currentMarker.setMap(null);

    currentMarker = new google.maps.Marker({position:location, map: map});
    map.setCenter(location);

  }
}




initMap();
</script>

{% endblock %}