{% extends 'main/base.html' %}
{% block title %}Advertisement details {% endblock%}
{% block content%}
<div class="container">

<div class="row">
<h1 class="text-center">{{advertisement.title}}</h1>
<img src="{{advertisement.image.url}}" height="300px" alt="...">
</div>

<div class="row">
<div class="d-flex justify-content-between">
<h2>Price {{advertisement.price}}SR</h2>

<div class="d-flex gap-1 p-1">
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Edit</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'advertisements:update_advertisement_view' advertisement.id %}">Update</a></li>
          <li><a class="dropdown-item" href="#">Add Image</a></li>
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteadvertisement">Delete</a></li>
        </ul>
      </div>
      <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#send_request">Send Request</a>

      <h6><a href="https://wa.me/{{user.profile.phone_number}}"> chat on whatsapp</a></h6>
      
      <div>
        {% if not is_favored %}
          <a href="{% url 'accounts:add_favorite_view' advertisement.id %}" class="favored badge rounded-pill text-bg-danger"><h5 class="p-0 m-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg></h5></a>
          {% else %}
              <a href="{% url 'accounts:add_favorite_view' advertisement.id %}" class="favored badge rounded-pill text-bg-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="25" fill="currentColor"  class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
            </svg></a>
        {% endif %}
      </div>
</div>

</div>
</div>

<div class="row">
<div class="d-flex justify-content-between align-items-center">
<div class="profile d-flex gap-2 align-items-center p-2">
<img src="{{advertisement.user.profile.personal_image.url}}" height="50" width="50" class="rounded">
<h4><a href="{% url 'accounts:user_profile' advertisement.user.id %}">Hosted by {{advertisement.user.first_name}} {{advertisement.user.last_name}}</a></h4>

</div>

<div class="d-flex align-items-center gap-1">
    {% if advertisement.type_of_residential == 'House' %}
    <span class="material-symbols-outlined">home</span>
    {% elif advertisement.type_of_residential == 'Room' %}
    <span class="material-symbols-outlined">night_shelter</span>
    {%else%}
    <span class="material-symbols-outlined">apartment</span>
    {% endif %}
<h2>{{advertisement.type_of_residential}}</h2>
</div>

</div>
</div>


<div class="row my-3">
<div class="d-flex justify-content-between">
<div class="col">
<div class="d-flex align-items-center gap-1">
<span class="material-symbols-outlined">timer</span>
<h4>The Duration :{{advertisement.duration_residence}} {{advertisement.type_of_duration}}</h4>
</div>

<div class="d-flex align-items-center gap-1">
<h4>Space: {{advertisement.space}}m</h4>
</div>

<div class="d-flex align-items-center gap-1">
<span class="material-symbols-outlined">group</span>
<h4>Number of people: {{advertisement.number_of_people}}</h4>
</div>


<div class="d-flex align-items-center gap-1">
<span class="material-symbols-outlined">pets</span>
{% if advertisement.animal_allowed == False %}
<h4>Not allowed</h4>
{% else %}
<h4>Allowed</h4>
{% endif %}
</div>

<div class="d-flex align-items-center">
<span class="material-symbols-outlined">person_search</span>
<h4>Favred age: From {{advertisement.min_age}} to {{advertisement.max_age}} </h4>
</div>

<div class="d-flex align-items-center gap-1">
<span class="material-symbols-outlined">bathtub</span>
<h4>Bathroom: {{advertisement.bathroom}}</h4>
</div>

</div>
<div class="col">
<div class="d-flex">
{% if advertisement.gender == 'Male' %}
<span class="material-symbols-outlined">man</span>
{% else %}
<span class="material-symbols-outlined">woman</span>
{% endif %}
<h4>{{advertisement.gender}}</h4>
</div>

<div class="d-flex align-items-center gap-1">
    {% if advertisement.smoke_allowed == False %}
    <span class="material-symbols-outlined">smoke_free</span>
    <h4>Not allowed</h4>
    {% else %}
    <span class="material-symbols-outlined">smoking_rooms</span>
    <h4>Allowed.</h4>
    {% endif %}
</div>

<div class="d-flex align-items-center gap-1">
<span class="material-symbols-outlined">bedroom_child</span>
<h4>Room: {{advertisement.rooms_number}}</h4>
</div>

<div class="d-flex align-items-center gap-1">
    <span class="material-symbols-outlined">kitchen</span>
    {% if advertisement.has_kitchen == True %}
    <h4>Kitchen:Yes</h4>
    {%else%}
    <h4>Kitchen:No</h4>
    {%endif%}
</div>


<div class="d-flex align-items-center gap-1">
    <span class="material-symbols-outlined">dishwasher_gen</span>
    {% if advertisement.dishwasher == True %}
    <h4>Dishwasher:Yes</h4>
    {%else%}
    <h4>Dishwasher:No</h4>
    {%endif%}
</div>

<div class="d-flex align-items-center gap-1">
    <span class="material-symbols-outlined">local_laundry_service</span>
    {% if advertisement.washing_machine == True %}
    <h4>Washing machine:Yes</h4>
    {%else%}
    <h4>Washing machine:No</h4>
    {%endif%}
</div>
</div>
</div>
</div>

<div class="row">
<h2>Note</h2>
<h4>{{advertisement.note}}</h4>
</div>

<div class="modal fade" id="send_request" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="send_request">Send Request</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to send a request to {{advertisement.user.first_name}} {{advertisement.user.last_name}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'accounts:send_rent_request' advertisement.id  %}" class="btn btn-success">Yes</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteadvertisement" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteadvertisement">Delete advertisement</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete advertisement?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'advertisements:delete_advertisement_view' advertisement.id %}" class="btn btn-danger">Yes, I want to delete it.</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 class="m-5">Location:</h1>
<div id="map"></div> 
<script>
  let map;
  let currentMarker = null;

  async function initMap() {
  const { Map } = await google.maps.importLibrary("maps");
  map = new Map(document.getElementById("map"), {
  center: { lat: {{ advertisement.latitiiude }}, lng:{{advertisement.longitude}} },
    zoom: 16,
  });

 addMarker({"lat" :  {{ advertisement.latitiiude }}, "lng":  {{advertisement.longitude}}}, map);


  function addMarker(location, map){
    if(currentMarker) currentMarker.setMap(null);

    currentMarker = new google.maps.Marker({position:location, map: map});
    map.setCenter(location);

  }

  }
initMap();
</script>

{% endblock %}