{% extends 'main/base.html' %}
{% block title %}Advertisement details {% endblock%}
{% block content%}
<div class="container">
<!--row 1-->
<div class="row my-2">
<div class="d-flex justify-content-between align-items-center">
<h1>{{advertisement.title}}</h1>
<div>
  {% if not is_favored %}
  <a href="{% url 'accounts:add_favorite_view' advertisement.id %}"><i class="bi bi-heart"></i>Save</a>
    {% else %}
  <a href="{% url 'accounts:add_favorite_view' advertisement.id %}"><i class="bi bi-heart-fill"></i>Saved</a>
  {% endif %}
</div>
</div>
</div>
<!--row 2-->
<div class="row">
<img src="{{advertisement.image.url}}" height="400px" alt="...">
</div>

<!--row 3-->
<div class="row mt-2">

  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center gap-1">
      {% if advertisement.type_of_residential == 'House' %}
      <span class="material-symbols-outlined">home</span>
      {% elif advertisement.type_of_residential == 'Room' %}
      <span class="material-symbols-outlined">night_shelter</span>
      {%else%}
      <span class="material-symbols-outlined">apartment</span>
      {% endif %}
  <h2>{{advertisement.type_of_residential}} in {{advertisement.neighborhood}},{{advertisement.city}}</h2>
  </div>
  <div class="d-flex gap-1 p-1">
    {% if request.user == advertisement.user %}
      <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Edit</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'advertisements:update_advertisement_view' advertisement.id %}">Update</a></li>
            <li><a class="dropdown-item" href="{% url 'advertisements:add_images_to_advertisements' advertisement.id %}">Add Image</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteadvertisement">Delete</a></li>
          </ul>
        </div>
      {%endif%}
  
        {% if not is_requested %}
        {% if request.user != advertisement.user %}
        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#send_request">Send Request</a>
        {%endif%}
        {%else%}
        <a class="btn btn-success">Request sent</a>
        {%endif%}
        <a class="btn btn-success" href="https://wa.me/{{user.profile.phone_number}}">  <i class="bi bi-whatsapp"> </i></a>
  </div> 
  </div>
</div>
<!--row-->
<div class="row">
  <div class="d-flex justify-content-between">
  <div class="d-flex align-items-center gap-1">
    <span class="material-symbols-outlined">group</span>
    <h4>{{advertisement.number_of_people}} guests |</h4>
    <span class="material-symbols-outlined">bathtub</span>
    <h4>{{advertisement.bathroom}} Bathroom |</h4>
    <span class="material-symbols-outlined">bedroom_child</span>
    <h4>{{advertisement.rooms_number}} Room |</h4>
    <div class="d-flex align-items-center">
    {% if advertisement.gender == 'Male' %}
    <span class="material-symbols-outlined">man</span>
    {% else %}
    <span class="material-symbols-outlined">woman</span>
    {% endif %}
    <h4>{{advertisement.gender}}</h4>
  </div>
  </div>
  <h4>Price {{advertisement.price}}SAR</h4>
  </div>
  </div>

<!--row-->
<div class="row">
  <div class="d-flex justify-content-between">
  <div class="d-flex">
    {% if reviews_avg %}
    <div class="d-flex align-items-center">
  <h4>{{reviews_avg}}</h4>
  <span class="material-symbols-outlined" style="color: goldenrod;">star_rate</span>
  </div>
  {% endif %}
  {% if reviews%}
  <h4>{{reviews.count}} Reviews</h4>
  {%endif%}
</div>
<div class="d-flex align-items-center gap-1">
  <span class="material-symbols-outlined">timer</span>
  <h4>{{advertisement.duration_residence}} {{advertisement.type_of_duration}} |</h4>
  <h4>Area:{{advertisement.space}} m</h4>
  </div>
</div>
</div>
<!--row-->
<div>
  <div class="d-flex align-items-center">
    <span class="material-symbols-outlined">person_search</span>
    <h4>Favred age: From {{advertisement.min_age}} to {{advertisement.max_age}} </h4>
    </div>
</div>
<hr>
<!--row-->
<div class="row">
  <div class="d-flex justify-content-between">
    <div class="profile d-flex gap-2 align-items-center p-2">
      <a href="{% url 'accounts:user_profile' advertisement.user.id %}"><img src="{{advertisement.user.profile.personal_image.url}}" height="50" width="50" class="rounded"></a>
    <h4>Hosted by {{advertisement.user.first_name}} {{advertisement.user.last_name}}</h4>
    </div>
  </div>
</div>
<hr>
<!--row 6-->
<div class="row my-4">
  <div class="col">
  <h2>What this place offers</h2>

  <div class="d-flex align-items-center">
  <span class="material-symbols-outlined">person_search</span>
  <h4>Favred age: From {{advertisement.min_age}} to {{advertisement.max_age}} </h4>
  </div>

  <div class="d-flex align-items-center gap-1">
  {% if advertisement.animal_allowed == True %}
  <span class="material-symbols-outlined">pets</span>
  <h4>Allowed</h4>
  {% endif %}
  </div>
  
  <div class="d-flex align-items-center gap-1">
      {% if advertisement.smoke_allowed == True %}
      <span class="material-symbols-outlined">smoking_rooms</span>
      <h4>Allowed</h4>
      {% endif %}
  </div>
  
  <div class="d-flex align-items-center gap-1">
      {% if advertisement.has_kitchen == True %}
      <span class="material-symbols-outlined">kitchen</span>
      <h4>Kitchen</h4>
      {%endif%}
  </div>
  
  <div class="d-flex align-items-center gap-1">
      {% if advertisement.dishwasher == True %}
      <span class="material-symbols-outlined">dishwasher_gen</span>
      <h4>Dishwasher</h4>
      {%endif%}
  </div>

  <div class="d-flex align-items-center gap-1">
      {% if advertisement.washing_machine == True %}
      <span class="material-symbols-outlined">local_laundry_service</span>
      <h4>Washing machine</h4>
      {%endif%}
  </div>
  </div>
{% if advertisement.animal_allowed == False or advertisement.smoke_allowed == False %}
  <div class="col">
  <h2>What this place prevents</h2>
  <div class="d-flex align-items-center gap-1">
    {% if advertisement.animal_allowed == False %}
    <span class="material-symbols-outlined">pets</span>
    <h4>Animal</h4>
    {% endif %}
    </div>

    <div class="d-flex align-items-center gap-1">
      {% if advertisement.smoke_allowed == False %}
      <span class="material-symbols-outlined">smoke_free</span>
      <h4>Smoke</h4>
      {% endif %}
  </div>
  </div>
{% endif %}
  </div>
<!--row 7-->
<div class="row my-3 note p-3">
  <h2>Note</h2>
  <h4>{{advertisement.note}}</h4>
  </div>
<!--row 8-->
{% if advertisement_images.count > 0 %}
<div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
  {% for images in advertisement_images %}
  <div class="col">
    <div class="card">
      <img src="{{images.image.url}}" class="card-img-top" alt="..." height="250px">
    </div>
  </div>
  {%endfor%}
</div>
{%endif%}
<!--row 9-->
<div class="row">
<div class="col">
  <div class="d-flex flex-column gap-3 mb-2">
    {% for review in reviews %}
    <div class="d-flex flex-column gap-2 border border-1 p-3 g-3">
      <div class="d-flex align-items-center g-3">
        <a href="{% url 'accounts:user_profile' review.user.id %}" ><h3 >{{ review.user.first_name }} {{ review.user.last_name }}</h3></a>
        {% if advertisement.user.validation.validated == True %}
        <span class="material-symbols-outlined text-success">verified</span> 
       {% endif %}
      </div>
      <h6 class="text-muted">{{ review.created_at }}</h6>
      <div class=" d-flex justify-content-between align-items-center">
        <div class="d-flex ">
           <p>{{review.rating}} <p>
           <span class="material-symbols-outlined" style="color: goldenrod;">
        star_rate
        </span></p></div></div>
      <p>{{ review.content }}</p>
    </div>
    {% endfor %}
  </div>
</div>
</div>

<!--row 11-->
<div class="row">
<h2>Location:</h2>
<div id="map"></div>
</div>
<!--row 12-->
<div class="row g-3 mt-2">
  <div class="col-3">
          <div class="d-flex flex-column gap-1">
           <a href="{% url 'accounts:user_profile' advertisement.user.id %}"><img src="{{advertisement.user.profile.personal_image.url}}" width="150px" height="250px" class="w-100 rounded-circle" ></a>
          </div>
  </div>
  <div class="col">
      <div class=" d-flex justify-content-between align-items-center">
        {% if advertisement.user.validation.validated == True %}
        <div class="align-items-center">
        <h4>Hosted by {{advertisement.user.first_name}} {{advertisement.user.last_name}}<span class="material-symbols-outlined text-success">verified</span></h4>
        </div>
        {% else %}
        <h4>Hosted by {{advertisement.user.first_name}} {{advertisement.user.last_name}}</h4>
        {% endif %}
      </div>
      <h5>@{{ advertisement.user.username}}</h5>
      <div class="d-flex align-items-center justify-content- gap-2 mx-2">
          
      </div>
      {% if advertisement.user.profile.gender%}
      <h6>Gender: {{advertisement.user.profile.gender}} </h6>
      {%endif%}
      {% if advertisement.user.profile.age%}
      <h6>Age: {{advertisement.user.profile.age}}</h6>
      {%endif%}
      {% if advertisement.user.profile.language%}
      <h6>Language: {{advertisement.user.profile.language}}</h6>
      {%endif%}
      {% if advertisement.user.profile.nationality%}
      <h6>Nationality: {{advertisement.user.profile.nationality}}</h6>
      {%endif%}
        {% if user.profile.phone_number%}
        <a class="btn btn-success" href="https://wa.me/{{user.profile.phone_number}}">  <i class="bi bi-whatsapp"> Contact the host</i></a>
        {%endif%}
       </div>
  </div>
<!-- row 10-->
<div class="row mt-3">
  {% if request.user.is_authenticated %}
  <h2>Add Review</h2>
<div class="col-8">
  <form class="d-flex flex-column gap-2" action="{% url 'advertisements:add_review_view' advertisement.id  %}" method="POST" >
    {% csrf_token %}
    <h5>Rating</h5>
    <select class="form-select" name="rating">
      <option value="1">⭐️</option>
      <option value="2">⭐️⭐️</option>
      <option value="3">⭐️⭐️⭐️</option>
      <option value="4">⭐️⭐️⭐️⭐️</option>
      <option value="5">⭐️⭐️⭐️⭐️⭐️</option>
    </select>

    <textarea class="form-control" name="content" placeholder="Your Review" required minlength="5"></textarea>

    <input type="submit" value="Add Review" class="btn btn-primary" />
  </form>
</div>
{%  else %}
<div class="p-3 border border-1 ">
  To post a review please <a href="{% url 'accounts:login_user_view' %}">sign in</a>.
</div>
{% endif %}
</div>

  <div class="modal fade" id="send_request" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="send_request">Send Request</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to send a request to {{advertisement.user.first_name}} {{advertisement.user.last_name}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'accounts:send_rent_request' advertisement.id  %}" class="btn btn-success" >Yes</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteadvertisement" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteadvertisement">Delete advertisement</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete advertisement?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'advertisements:delete_advertisement_view' advertisement.id %}" class="btn btn-danger">Yes, I want to delete it.</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    let map;
    let currentMarker = null;
  
    async function initMap() {
    const { Map } = await google.maps.importLibrary("maps");
    map = new Map(document.getElementById("map"), {
    center: { lat: {{ advertisement.latitiiude }}, lng:{{advertisement.longitude}} },
      zoom: 16,
    });
  
   addMarker({"lat" :  {{ advertisement.latitiiude }}, "lng":  {{advertisement.longitude}}}, map);
  
  
    function addMarker(location, map){
      if(currentMarker) currentMarker.setMap(null);
  
      currentMarker = new google.maps.Marker({position:location, map: map});
      map.setCenter(location);
  
    }
  
    }
  initMap();
  </script>

</div>

{% endblock %}