{% extends 'main/base.html' %}

{% block title %} Filter Advertisements {% endblock %}


{% block content %}
<div class="container">
    <div class="row shadow-lg p-3 mb-5 bg-body-tertiary rounded m-5">
        <div class="col d-flex justify-content-center align-items-center">
            <h1 class="display-2">Find your Roommate in our Website</h1>
        </div>

    </div>

</div>
<section class="container">
<div class="row">
    {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{ msg }}
    </div>
    {% endif %}
<div class="col">
<div>
    <h1 class="display-3">Filter Advertisements</h1>
    <hr>
   
</div>
</div>
</section>

<div class="container">
    <div class="row">
        <div class="col-4 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <form action="{% url 'main:advertisement_filter_view'%}" method="GET">
                {% csrf_token %}
            <h3 class="display-6">Features:</h3>
            <label>Age:</label>
            <div class="d-flex justify-content-start align-items-center">
                <input type="search" name="min_age" placeholder="min_age" class="form-control border-success m-1" >
                <input type="search" name="max_age" placeholder="max_age" class="form-control border-success m-1">
            </div>
            <br>
        
            <label>Price:</label>
            <div class="d-flex justify-content-start align-items-center">
                <input type="search" name="price_min" placeholder="price min" class="form-control border-success m-1">
                <input type="search" name="price_max" placeholder="price max" class="form-control border-success m-1">
            </div>
            <br>
            <label>Number of people:</label>
            <input type="search" name="number_of_people" placeholder="number_of_people" class="form-control border-success m-1">
            <br>
            <label>City:</label>
            <input type="search" name="city" placeholder="city" class="form-control border-success m-1">
            <br>
            <label>Rooms number:</label>
            <input type="search" name="rooms_number" placeholder="rooms_number" class="form-control border-success m-1">
            <br>
            <label>Bathroom:</label>
            <input type="search" name="bathroom" placeholder="bathroom" class="form-control border-success m-1">
            <br>
            <label>Neighborhood:</label>
            <input type="search" name="neighborhood" placeholder="neighborhood" class="form-control border-success m-1">
            <br>
            <label>Duration residence:</label>
            <input type="search" name="duration_residence" placeholder="duration_residence" class="form-control border-success m-1">
            <br>
            <label>Types of duration:</label>
            {% for key, value in types_of_duration.choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type_of_duration" id="{{key}}" value="{{value}}">
                <h6 class="form-check-label" for="{{key}}">{{value}}</h6>
            </div>
            {% endfor %}
            <label>Gender:</label>
            {% for key, value in types_of_gender.choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="{{key}}" value="{{value}}">
                <h6 class="form-check-label" for="{{key}}">{{value}}</h6>
            </div>
            {% endfor %}
            <label>Type of residential:</label>
            {% for key, value in types_of_residential.choices %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type_of_residential" id="{{key}}" value="{{value}}">
                <h6 class="form-check-label" for="{{key}}">{{value}}</h6>
            </div>
            {% endfor %}
            <br>
            <label>Has kitchen:</label>
            <input type="checkbox" name="has_kitchen" id="has_kitchen" value="True">
            <br>
            <label>Dishwaser:</label>
            <input type="checkbox" name="dishwasher"  value="True">
            <br>
            <label>Washing Machine:</label>
            <input type="checkbox" name="washing_machine" value="True">
            <br>
            <label>Smoke allowed:</label>
            <input type="checkbox" name="smoke_allowed" id="smoke_allowed" value="True">
            <br>
            <label>Animal allowed:</label>
            <input type="checkbox" name="animal_allowed" id="animal_allowed" value="True">
            <br>
            <div class="d-grid gap-2">
                <input class="btn btn-success btn-lg m-4" type="submit" value="search"/>
              </div>
            </form>
        </div>
        <div class="col-8 ">
            {% for adv in Advertisements %}
            <div class="d-flex position-relative border border-3 rounded-3 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <div>
                    <img src="{{ adv.image.url }}" style="height:190px;width: 130px;" class="flex-shrink-0 me-3" alt="Home image">
                </div>
                <div>
                    <div class="d-flex align-items-center gap-1">
                        {% if adv.user.validation.validated == True %}
                        <h4 class="fst-italic"><a href="{% url 'accounts:user_profile' adv.user.id %}" class="text-dark-emphasis link-offset-2 link-underline link-underline-opacity-0 d-flex justify-content-center align-items-center">{{adv.user.first_name}} {{adv.user.last_name}}<span class="material-symbols-outlined  text-success">verified</span>  ( {{ adv.city }} - {{ adv.neighborhood }} ) </a></h4>
                        {% else %}
                        <h4 class="fst-italic"><a href="{% url 'accounts:user_profile' adv.user.id %}" class="text-dark-emphasis link-offset-2 link-underline link-underline-opacity-0">{{adv.user.first_name}} {{adv.user.last_name}}<span class="material-symbols-outlined text-secondary">info</span> ( {{ adv.city }} - {{ adv.neighborhood }} )</a></h4>
                        {% endif %}
                    </div>
                    <div>
                        <h5 class="fst-italic text-dark-emphasis">Price: {{ adv.price }}</h5>
                        <p class="fst-italic"> Date: {{ adv.advertisement_date.day }}/{{ adv.advertisement_date.month}}/{{ adv.advertisement_date.year }}</p>
                    </div>
                  <div class="d-flex justify-content-start gap-1">
                    {% if adv.gender == 'Male' %}
                    <span class="material-symbols-outlined">man</span>
                    {% else %}
                    <span class="material-symbols-outlined">woman</span>
                    {% endif %}
                    <p>{{adv.gender}}</p>
                    <h5>|</h5>
                    <span class="material-symbols-outlined">bedroom_child</span>
                    <p>Room: {{adv.rooms_number}}</p>
                    <h5>|</h5>
                    <span class="material-symbols-outlined">dishwasher_gen</span>
                    {% if adv.dishwasher == True %}
                    <p>Dishwasher:Yes</p>
                    {%else%}
                    <p>Dishwasher:No</p>
                    {%endif%}
                    <h5>|</h5>
                    <span class="material-symbols-outlined">local_laundry_service</span>
                    {% if adv.washing_machine == True %}
                    <p>Washing machine:Yes</p>
                    {%else%}
                    <p>Washing machine:No</p>
                    {%endif%}
                    <h5>|</h5>
                    <span class="material-symbols-outlined">kitchen</span>
                    {% if adv.has_kitchen == True %}
                    <p>Kitchen:Yes</p>
                    {%else%}
                    <p>Kitchen:No</p>
                    {%endif%}
                  </div>
                  <div class="d-flex justify-content-start gap-1">
                    <span class="material-symbols-outlined">pets</span>
                    {% if adv.animal_allowed == False %}
                    <p>Not allowed</p>
                    {% else %}
                    <p>Allowed</p>
                    {% endif %}
                    <h5>|</h5>
                    {% if adv.smoke_allowed == False %}
                    <span class="material-symbols-outlined">smoke_free</span>
                    <p>Not allowed</p>
                    {% else %}
                    <span class="material-symbols-outlined">smoking_rooms</span>
                    <p>Allowed.</p>
                    {% endif %}
                    <h5>|</h5>
                    {% if adv.type_of_residential == 'House' %}
                    <span class="material-symbols-outlined">home</span>
                    {% elif adv.type_of_residential == 'Room' %}
                    <span class="material-symbols-outlined">night_shelter</span>
                    {%else%}
                    <span class="material-symbols-outlined">apartment</span>
                    {% endif %}
                    <p>{{adv.type_of_residential}}</p>
                    <h5>|</h5>
                    <span class="material-symbols-outlined">timer</span>
                    <p>The Duration :{{adv.duration_residence}} {{adv.type_of_duration}}</p>
                </div>
                    <div class="d-flex justify-content-start gap-1">
                    <span class="material-symbols-outlined">person_search</span>
                    <p>Favred age: From {{adv.min_age}} to {{adv.max_age}} </p>
                    <h5>|</h5>
                    <span class="material-symbols-outlined">group</span>
                    <p>Number of people: {{adv.number_of_people}}</p>
                  </div>
                  <p>Note:{{ adv.note }}</p>
                </div>
              </div>
              <hr>
            {% endfor %}
        </div>
    </div>
</div>


    
{% endblock %}