{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home{% endblock%}
{% block content%}


<div class="container-all">
    <div class="container-home">
        <div class="row">
            <div class="col">
                <h1>ROOMMATE</h1>
                <div class="short-para">
                    <h4>The perfect match, just a click away</h4>
                    <form role="search" action="{% url 'advertisements:search' %}" method="GET">
                        <input name="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <h4></h4>
            </div>
        </div>
    </div>
</div>


<hr>
<div class="container">
    <div class="row">
        <div class="sub-text col-12">
            <h1>About us:</h1>
            <p>The project aims to create a website that offers the possibility of finding a housing partner for people who want group housing.Provides access to a wide range of people interested in group housing,Helps users to get to know the candidates better and Provides access to a wide range of people interested in group housing.</p>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="sub-text col-12">
            <h1 class="text-center mb-4">Our features</h1>
            <div class="d-flex justify-content-evenly align-items-center">
                <div class="img1 col-3 m-5">
                    <h4 class="d-flex justify-content-center align-items-center mt-5">Roommates</h4>
                    <span class="icon material-symbols-outlined">groups</span>
                </div>
                <div class="img2 col-3 m-5">
                    <h4 class="d-flex justify-content-center align-items-center mt-5">Validation</h4>
                    <span class="icon material-symbols-outlined">verified</span>
                </div>
                <div class="img3 col-3 m-5">
                    <h4 class="d-flex justify-content-center align-items-center mt-5">Housing</h4>
                    <span class="icon material-symbols-outlined">house</span>
                </div>
                <div class="img4 col-3 m-5">
                    <h4 class="d-flex justify-content-center align-items-center mt-5">Location</h4>
                    <span class="icon material-symbols-outlined">home_pin</span>
                </div>
                <div class="img5 col-3 m-5">
                    <h4 class="d-flex justify-content-center align-items-center mt-5">Wide variety</h4>
                    <span class="icon material-symbols-outlined">star</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container1 m-5">
<div class="row gap-3 d-flex justify-content-center align-items-center">
{% for approve in approves %}
<div class="col-3 border border-warning-subtle shadow p-3 mb-5 bg-body-tertiary rounded">
<a href="{% url 'main:profile_approved_users' approve.user.id %}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><h1>{{ approve.user.first_name }}<span class="material-symbols-outlined">verified</span></h1></a>
</div>
{% endfor %}
</div>
<hr>
</div>
<div class="container">
    <div class="d-flex justify-content-between align-items-center m-3">
        <h1 class="adv-title text-center">Explore your roommates offers</h1>
        <a href="{% url 'main:advertisement_filter_view' %}"><span class="icon material-symbols-outlined">arrow_circle_right</span></a>
    </div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for advertisement in advertisements %}
    <div class="col">
        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded .bg-secondary-subtle">
        <a class="adv-img" href="{% url 'advertisements:advertisement_details_view' advertisement.id %}"><img src="{{advertisement.image.url}}" class="card-img-top" height="220px" alt="Advertisement image"></a>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
            <h5 class="adv-title card-title">{{ advertisement.title}}-{{advertisement.city}}</h5>
            {% if advertisement.user.validation.validated == True %}
            <h6 class="adv-title d-flex justify-content-center align-items-center text-success">{{ advertisement.user.first_name }}<span class="material-symbols-outlined">verified</span></h6>
            {% else %}
            <h6 class="adv-title d-flex justify-content-center align-items-center text-secondary">{{ advertisement.user.first_name }}</h6>
            {% endif %}
            </div>  
            <div class="d-flex align-items-center gap-1">
            {% if adv.gender == 'Male' %}
            <span class="material-symbols-outlined">man</span>
            <h6>Male</h6>
            {% else %}
            <span class="material-symbols-outlined">woman</span>
            <h6>Female</h6>
            {% endif %}
            <p>{{adv.gender}}</p>
            </div>
            <div class="d-flex align-items-center gap-1">
            {% if advertisement.type_of_residential == 'House' %}
            <span class="material-symbols-outlined">home</span>
            {% elif advertisement.type_of_residential == 'Room' %}
            <span class="material-symbols-outlined">night_shelter</span>
            {%else%}
            <span class="material-symbols-outlined">apartment</span>
            {% endif %}
            <h6>{{advertisement.type_of_residential}}</h6>
            </div>
            <div class="d-flex align-items-center">
            <span class="material-symbols-outlined">timer</span>
            <h6 class="adv-title card-text">The Duration :{{advertisement.duration_residence}} {{advertisement.type_of_duration}}</h6>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <span class="adv-arrow material-symbols-outlined">arrow_forward</span>
            </div>
        </div>
    </div>
</div>
{% endfor %} 
</div>
</div>
<hr>
<h1 class="adv-title text-center">Reviews</h1>
<div class="container">
    <div class="row">
      {% for review in reviews %}
        <div class="col bg-warning p-2 text-dark bg-opacity-10 rounded-3 text-body-secondary p-4 m-4 ">
          <a href="{% url 'advertisements:advertisement_details_view' review.advertisement.id %}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><h6>{{ review.event.title }}</h6></a>
          <h6 class="fw-normal">Reviewd by: {{ review.user.first_name }} {{ review.user.last_name }}</h6></a>
          <hr>
          <a class="link-offset-2 link-underline link-underline-opacity-0 text-body-secondary fst-italic" href="{% url 'advertisements:advertisement_details_view' review.advertisement.id %}"><h5>{{ review.content }}</h5></a>
          <div class="d-flex gap-1 align-items-center">
            <h6 class="p-0 m-0">{{ review.rating }}</h6>
            <span class="material-symbols-outlined">grade</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  


{% endblock %}

